In [1]:
import pandas as pd
import statsmodels.api as sm

GT10

In [2]:
gt10_df = pd.read_excel("FOMC_Data_2011_2024.xlsx", sheet_name="GT10")
gt10_df = gt10_df.drop(["Change","% Change","YLD_CNV_MID","Change.1","% Change.1"],axis=1)
gt10_df = gt10_df.rename(columns={"PX_MID":"GT10"})
gt10_df["GT10_change"] = gt10_df["GT10"] - gt10_df["GT10"].shift(-1)
gt10_df["GT10_%change"] = (gt10_df["GT10_change"] / gt10_df["GT10"].shift(-1)) * 100
gt10_df

           Date   GT10  GT10_change  GT10_%change
0    2024-10-04  3.968        0.121      3.145308
1    2024-10-03  3.847        0.064      1.691779
2    2024-10-02  3.783        0.051      1.366559
3    2024-10-01  3.732       -0.050     -1.322052
4    2024-09-30  3.782        0.030      0.799574
...         ...    ...          ...           ...
3325 2012-01-05  1.996        0.018      0.910010
3326 2012-01-04  1.978        0.030      1.540041
3327 2012-01-03  1.948        0.071      3.782632
3328 2012-01-02  1.877        0.000      0.000000
3329 2011-12-30  1.877          NaN           NaN

[3330 rows x 4 columns]

GT2

In [3]:
gt2_df = pd.read_excel("FOMC_Data_2011_2024.xlsx", sheet_name="GT2")
gt2_df = gt2_df.drop(["Change","% Change","YLD_CNV_MID","Change.1","% Change.1"],axis=1)
gt2_df = gt2_df.rename(columns={"PX_MID":"GT2"})
gt2_df["GT2_change"] = gt2_df["GT2"] - gt2_df["GT2"].shift(-1)
gt2_df["GT2_%change"] = (gt2_df["GT2_change"] / gt2_df["GT2"].shift(-1)) * 100
gt2_df

           Date    GT2  GT2_change  GT2_%change
0    2024-10-04  3.924       0.218     5.882353
1    2024-10-03  3.706       0.063     1.729344
2    2024-10-02  3.643       0.037     1.026068
3    2024-10-01  3.606      -0.036    -0.988468
4    2024-09-30  3.642       0.082     2.303371
...         ...    ...         ...          ...
3325 2012-01-05  0.261       0.000     0.000000
3326 2012-01-04  0.261       0.004     1.556420
3327 2012-01-03  0.257       0.016     6.639004
3328 2012-01-02  0.241       0.000     0.000000
3329 2011-12-30  0.241         NaN          NaN

[3330 rows x 4 columns]

GT spread

In [4]:
gtspread_df = pd.read_excel("FOMC_Data_2011_2024.xlsx", sheet_name="2s10s_Spread")
gtspread_df = gtspread_df.drop(["Change","% Change"],axis=1)
gtspread_df = gtspread_df.rename(columns={"PX_LAST":"GTspread"})
gtspread_df["GTspread_change"] = gtspread_df["GTspread"] - gtspread_df["GTspread"].shift(-1)
gtspread_df["GTspread_%change"] = (gtspread_df["GTspread_change"] / gtspread_df["GTspread"].shift(-1)) * 100
gtspread_df

           Date  GTspread  GTspread_change  GTspread_%change
0    2024-10-04    4.4360          -9.5994        -68.394203
1    2024-10-03   14.0354           0.1012          0.726271
2    2024-10-02   13.9342           1.3223         10.484542
3    2024-10-01   12.6119          -1.3642         -9.760949
4    2024-09-30   13.9761          -5.2502        -27.307386
...         ...       ...              ...               ...
3325 2012-01-05  173.4169           1.7319          1.008766
3326 2012-01-04  171.6850           2.5556          1.511032
3327 2012-01-03  169.1294           5.5301          3.380271
3328 2012-01-02  163.5993           0.0000          0.000000
3329 2011-12-30  163.5993              NaN               NaN

[3330 rows x 4 columns]

Gold Price

In [5]:
gold_df = pd.read_excel("FOMC_Data_2011_2024.xlsx", sheet_name="Gold_Prices")
gold_df = gold_df.drop(["Change","% Change"],axis=1)
gold_df = gold_df.rename(columns={"PX_LAST":"Gold"})
gold_df["Gold_change"] = gold_df["Gold"] - gold_df["Gold"].shift(-1)
gold_df["Gold_%change"] = (gold_df["Gold_change"] / gold_df["Gold"].shift(-1)) * 100
gold_df

           Date     Gold  Gold_change  Gold_%change
0    2024-10-04  2653.60        -2.29     -0.086223
1    2024-10-03  2655.89        -2.80     -0.105315
2    2024-10-02  2658.69        -4.54     -0.170470
3    2024-10-01  2663.23        28.65      1.087460
4    2024-09-30  2634.58       -23.66     -0.890063
...         ...      ...          ...           ...
3313 2012-01-05  1622.71        10.76      0.667515
3314 2012-01-04  1611.95         8.00      0.498769
3315 2012-01-03  1603.95        37.58      2.399178
3316 2012-01-02  1566.37         1.46      0.093296
3317 2011-12-30  1564.91          NaN           NaN

[3318 rows x 4 columns]

VIX

In [6]:
VIX_df = pd.read_excel("FOMC_Data_2011_2024.xlsx", sheet_name="VIX")
VIX_df = VIX_df.drop(["Change","% Change"],axis=1)
VIX_df = VIX_df.rename(columns={"PX_LAST":"VIX"})
VIX_df["VIX_change"] = VIX_df["VIX"] - VIX_df["VIX"].shift(-1)
VIX_df["VIX_%change"] = (VIX_df["VIX_change"] / VIX_df["VIX"].shift(-1)) * 100
VIX_df

           Date    VIX  VIX_change  VIX_%change
0    2024-10-04  19.21       -1.28    -6.246950
1    2024-10-03  20.49        1.59     8.412698
2    2024-10-02  18.90       -0.36    -1.869159
3    2024-10-01  19.26        2.53    15.122534
4    2024-09-30  16.73       -0.23    -1.356132
...         ...    ...         ...          ...
3224 2012-01-06  20.63       -0.85    -3.957169
3225 2012-01-05  21.48       -0.74    -3.330333
3226 2012-01-04  22.22       -0.75    -3.265128
3227 2012-01-03  22.97       -0.43    -1.837607
3228 2011-12-30  23.40         NaN          NaN

[3229 rows x 4 columns]

SP500

In [7]:
SP500_df = pd.read_excel("FOMC_Data_2011_2024.xlsx", sheet_name="SP500")
SP500_df = SP500_df.drop(["Change","% Change"],axis=1)
SP500_df = SP500_df.rename(columns={"PX_LAST":"SP500"})
SP500_df["SP500_change"] = SP500_df["SP500"] - SP500_df["SP500"].shift(-1)
SP500_df["SP500_%change"] = (SP500_df["SP500_change"] / SP500_df["SP500"].shift(-1)) * 100
SP500_df

           Date    SP500  SP500_change  SP500_%change
0    2024-10-04  5751.07         51.13       0.897027
1    2024-10-03  5699.94         -9.60      -0.168140
2    2024-10-02  5709.54          0.79       0.013838
3    2024-10-01  5708.75        -53.73      -0.932411
4    2024-09-30  5762.48         24.31       0.423654
...         ...      ...           ...            ...
3206 2012-01-06  1277.81         -3.25      -0.253696
3207 2012-01-05  1281.06          3.76       0.294371
3208 2012-01-04  1277.30          0.24       0.018793
3209 2012-01-03  1277.06         19.45       1.546584
3210 2011-12-30  1257.61           NaN            NaN

[3211 rows x 4 columns]

load index

In [8]:
minutes_sim = pd.read_csv("DOMC_Minutes_factor_similarity.csv", index_col=0, parse_dates=['date'])
minutes_sim

          date                     file  int score  inf score
0   2012-01-25  fomcminutes20120125.csv   0.505542   0.510241
1   2012-03-13  fomcminutes20120313.csv   0.506516   0.515129
2   2012-04-25  fomcminutes20120425.csv   0.507045   0.512129
3   2012-06-20  fomcminutes20120620.csv   0.507571   0.511932
4   2012-08-01  fomcminutes20120801.csv   0.505554   0.516719
..         ...                      ...        ...        ...
96  2024-01-31  fomcminutes20240131.csv   0.521904   0.526495
97  2024-03-20  fomcminutes20240320.csv   0.515323   0.517706
98  2024-05-01  fomcminutes20240501.csv   0.514340   0.514149
99  2024-06-12  fomcminutes20240612.csv   0.517683   0.525273
100 2024-07-31  fomcminutes20240731.csv   0.527165   0.544329

[101 rows x 4 columns]

In [9]:
presconf_sim = pd.read_csv("FOMC_Presconf_factor_similarity.csv", index_col=0, parse_dates=['date'])
presconf_sim

         date                      file  int score  inf score
0  2012-01-25  fomcpresconf20120125.csv   0.514568   0.538154
1  2012-04-25  fomcpresconf20120425.csv   0.514852   0.544175
2  2012-06-20  fomcpresconf20120620.csv   0.527308   0.541460
3  2012-09-13  fomcpresconf20120913.csv   0.509146   0.543423
4  2012-12-12  fomcpresconf20121212.csv   0.508423   0.533448
..        ...                       ...        ...        ...
71 2024-03-20  fomcpresconf20240320.csv   0.523188   0.562133
72 2024-05-01  fomcpresconf20240501.csv   0.518473   0.560881
73 2024-06-12  fomcpresconf20240612.csv   0.515542   0.564443
74 2024-07-31  fomcpresconf20240731.csv   0.512966   0.557262
75 2024-09-18  fomcpresconf20240918.csv   0.513058   0.552336

[76 rows x 4 columns]

In [10]:
speech_sim = pd.read_csv("FOMC_Speech_factor_similarity.csv", index_col=0, parse_dates=['date'])
speech_sim

          date                 file  int score  inf score
0   2022-09-07    barr20220907a.csv   0.427163   0.467872
1   2022-12-01    barr20221201a.csv   0.516359   0.526727
2   2023-02-07    barr20230207a.csv   0.495388   0.535483
3   2023-03-09    barr20230309a.csv   0.456221   0.479141
4   2023-07-10    barr20230710a.csv   0.496062   0.560072
..         ...                  ...        ...        ...
686 2017-09-26  yellen20170926a.csv   0.516775   0.540992
687 2017-10-04  yellen20171004a.csv   0.426722   0.458959
688 2017-10-15  yellen20171015a.csv   0.521109   0.541411
689 2017-10-20  yellen20171020a.csv   0.534591   0.513073
690 2017-11-07  yellen20171107a.csv   0.466233   0.502933

[691 rows x 4 columns]

index merge

In [11]:
def merge_market_data(simimarity_factor, market_data):
    # Iterate over each DataFrame in market_data
    for market_df in market_data:
        # Select columns that end with '_change' or '_%change'
        selected_columns = [col for col in market_df.columns if col.endswith('_change') or col.endswith('_%change')]
        
        # Add the 'Date' column to the selected columns to use it for merging
        selected_columns = ['Date'] + selected_columns
        
        # Perform an inner merge on 'date' from simimarity_factor and 'Date' from market_df
        simimarity_factor = pd.merge(simimarity_factor, market_df[selected_columns], left_on='date', right_on='Date', how='inner')
        
        # Drop the redundant 'Date' column after merging
        simimarity_factor = simimarity_factor.drop(columns=['Date'])
    
    return simimarity_factor

In [12]:
market_data = [gt10_df, gt2_df, gtspread_df, gold_df, VIX_df, SP500_df]
minutes_regression_data = merge_market_data(minutes_sim,market_data)
presconf_regression_data = merge_market_data(presconf_sim,market_data)
speech_regression_data = merge_market_data(speech_sim,market_data)

In [13]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

def format_significance(p_value):
    """Format significance level based on p-value."""
    if p_value < 0.01:
        return "***"
    elif p_value < 0.05:
        return "**"
    elif p_value < 0.1:
        return "*"
    else:
        return ""

def perform_regression_for_dataset(regression_data, label):
    # Initialize a dictionary to collect results
    results_dict = {}
    
    # Identify all columns ending with '_change' or '_%change'
    target_columns = [col for col in regression_data.columns if col.endswith('_change') or col.endswith('_%change')]

    # Group columns by their base name before '_change' and '_%change'
    base_names = sorted(set(col.rsplit('_', 1)[0] for col in target_columns))
    
    # Initialize the result dictionary for this dataset
    results_dict[label] = {}
    
    # Loop through each base name (e.g., GT10, GT2, etc.)
    for base_name in base_names:
        # Extract the columns for '_change' and '_%change'
        change_col = f"{base_name}_change"
        pct_change_col = f"{base_name}_%change"
        
        # Only process if both columns exist
        if change_col in regression_data.columns and pct_change_col in regression_data.columns:
            # Create sub-dict for this base name
            results_dict[label][base_name] = {}
            
            # Define X (independent variables) as 'int score' and 'inf score'
            X = regression_data[['int score', 'inf score']]
            X = sm.add_constant(X)  # Add intercept
            
            # Loop through change and %change columns
            for col_name in [change_col, pct_change_col]:
                y = regression_data[col_name]
                
                # Perform the regression
                model = sm.OLS(y, X).fit()
                
                # Collect coefficients and standard errors
                coeff_int = model.params['int score']
                coeff_inf = model.params['inf score']
                stderr_int = model.bse['int score']
                stderr_inf = model.bse['int score']
                
                # Collect p-values to mark significance
                p_value_int = model.pvalues['int score']
                p_value_inf = model.pvalues['inf score']
                
                # Format coefficients with significance
                int_score_result = f"{coeff_int:.4f}{format_significance(p_value_int)}"
                inf_score_result = f"{coeff_inf:.4f}{format_significance(p_value_inf)}"
                
                # Store results for both int score and inf score
                results_dict[label][base_name][col_name] = {
                    'int_score': (int_score_result, f"({stderr_int:.4f})"),
                    'inf_score': (inf_score_result, f"({stderr_inf:.4f})"),
                    'n_obs': len(y),
                    'r_squared': model.rsquared
                }

    # After collecting all the results, prepare the final DataFrame
    rows = []
    index_labels = []
    
    # Loop over the rows (int score and inf score for this dataset)
    for score_type in ['int_score', 'inf_score']:
        row_coefficients = []
        row_std_errors = []
        index_labels.append(f"{label} {score_type} Coefficients")
        index_labels.append(f"{label} {score_type} Std Errors")
        
        for base_name in base_names:
            for change_type in ['_change', '_%change']:
                change_col = f"{base_name}{change_type}"
                
                if base_name in results_dict[label] and change_col in results_dict[label][base_name]:
                    result = results_dict[label][base_name][change_col]
                    # First row: coefficients with significance
                    row_coefficients.append(result[score_type][0])  # Coefficient with significance
                    # Second row: standard errors
                    row_std_errors.append(result[score_type][1])  # Standard Error
                else:
                    row_coefficients.append(np.nan)
                    row_std_errors.append(np.nan)
        
        # Append both rows (coefficients and standard errors)
        rows.append(row_coefficients)
        rows.append(row_std_errors)
    
    # Add R² and sample size (n_obs) rows
    r_squared_row = []
    sample_size_row = []
    index_labels.append(f"{label} R²")
    index_labels.append(f"{label} Sample Size")
    
    for base_name in base_names:
        for change_type in ['_change', '_%change']:
            change_col = f"{base_name}{change_type}"
            
            if base_name in results_dict[label] and change_col in results_dict[label][base_name]:
                result = results_dict[label][base_name][change_col]
                # R-squared and sample size
                r_squared_row.append(f"{result['r_squared']:.4f}")
                sample_size_row.append(f"{result['n_obs']}")
            else:
                r_squared_row.append(np.nan)
                sample_size_row.append(np.nan)
    
    # Append R² and sample size rows
    rows.append(r_squared_row)
    rows.append(sample_size_row)
    
    # Create the column names (multi-level)
    columns = pd.MultiIndex.from_product([base_names, ['_change', '_%change']], names=['Variable', 'Type'])
    
    # Convert results to DataFrame
    results_df = pd.DataFrame(rows, index=index_labels, columns=columns)
    
    # Return the DataFrame for this dataset
    return results_df

# Example usage for each dataset
minutes_regression_results = perform_regression_for_dataset(minutes_regression_data, 'Minutes')
presconf_regression_results = perform_regression_for_dataset(presconf_regression_data, 'Press Conference')
speech_regression_results = perform_regression_for_dataset(speech_regression_data, 'Speech')

In [17]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

def format_significance(p_value):
    """Format significance level based on p-value."""
    if p_value < 0.01:
        return "***"
    elif p_value < 0.05:
        return "**"
    elif p_value < 0.1:
        return "*"
    else:
        return ""

def perform_regression_for_dataset(regression_data, label):
    # Initialize a dictionary to collect results
    results_dict = {}
    
    # Identify all columns ending with '_change' or '_%change'
    target_columns = [col for col in regression_data.columns if col.endswith('_change') or col.endswith('_%change')]

    # Group columns by their base name before '_change' and '_%change'
    base_names = sorted(set(col.rsplit('_', 1)[0] for col in target_columns))
    
    # Initialize the result dictionary for this dataset
    results_dict[label] = {}
    
    # Loop through each base name (e.g., GT10, GT2, etc.)
    for base_name in base_names:
        # Extract the columns for '_change' and '_%change'
        change_col = f"{base_name}_change"
        pct_change_col = f"{base_name}_%change"
        
        # Only process if both columns exist
        if change_col in regression_data.columns and pct_change_col in regression_data.columns:
            # Create sub-dict for this base name
            results_dict[label][base_name] = {}
            
            # Define X (independent variables) as 'int score' and 'inf score'
            X = regression_data[['int score', 'inf score']]
            X = sm.add_constant(X)  # Add intercept
            
            # Loop through change and %change columns
            for col_name in [change_col, pct_change_col]:
                y = regression_data[col_name]
                
                # Perform the regression
                model = sm.OLS(y, X).fit()
                
                # Collect coefficients and standard errors
                coeff_int = model.params['int score']
                coeff_inf = model.params['inf score']
                coeff_const = model.params['const']
                stderr_int = model.bse['int score']
                stderr_inf = model.bse['inf score']
                stderr_const = model.bse['const']
                
                # Collect p-values to mark significance
                p_value_int = model.pvalues['int score']
                p_value_inf = model.pvalues['inf score']
                p_value_const = model.pvalues['const']
                
                # Format coefficients with significance
                int_score_result = f"{coeff_int:.4f}{format_significance(p_value_int)}"
                inf_score_result = f"{coeff_inf:.4f}{format_significance(p_value_inf)}"
                const_result = f"{coeff_const:.4f}{format_significance(p_value_const)}"
                
                # Store results for int score, inf score, and constant
                results_dict[label][base_name][col_name] = {
                    'int_score': (int_score_result, f"({stderr_int:.4f})"),
                    'inf_score': (inf_score_result, f"({stderr_inf:.4f})"),
                    'constant': (const_result, f"({stderr_const:.4f})"),
                    'n_obs': len(y),
                    'r_squared': model.rsquared
                }

    # After collecting all the results, prepare the final DataFrame
    rows = []
    index_labels = []
    
    # Loop over the rows (int score, inf score, and constant for this dataset)
    for score_type in ['constant', 'int_score', 'inf_score']:
        row_coefficients = []
        row_std_errors = []
        index_labels.append(f"{label} {score_type} Coefficients")
        index_labels.append(f"{label} {score_type} Std Errors")
        
        for base_name in base_names:
            for change_type in ['_change', '_%change']:
                change_col = f"{base_name}{change_type}"
                
                if base_name in results_dict[label] and change_col in results_dict[label][base_name]:
                    result = results_dict[label][base_name][change_col]
                    # First row: coefficients with significance
                    row_coefficients.append(result[score_type][0])  # Coefficient with significance
                    # Second row: standard errors
                    row_std_errors.append(result[score_type][1])  # Standard Error
                else:
                    row_coefficients.append(np.nan)
                    row_std_errors.append(np.nan)
        
        # Append both rows (coefficients and standard errors)
        rows.append(row_coefficients)
        rows.append(row_std_errors)
    
    # Add R² and sample size (n_obs) rows
    r_squared_row = []
    sample_size_row = []
    index_labels.append(f"{label} R²")
    index_labels.append(f"{label} Sample Size")
    
    for base_name in base_names:
        for change_type in ['_change', '_%change']:
            change_col = f"{base_name}{change_type}"
            
            if base_name in results_dict[label] and change_col in results_dict[label][base_name]:
                result = results_dict[label][base_name][change_col]
                # R-squared and sample size
                r_squared_row.append(f"{result['r_squared']:.4f}")
                sample_size_row.append(f"{result['n_obs']}")
            else:
                r_squared_row.append(np.nan)
                sample_size_row.append(np.nan)
    
    # Append R² and sample size rows
    rows.append(r_squared_row)
    rows.append(sample_size_row)
    
    # Create the column names (multi-level)
    columns = pd.MultiIndex.from_product([base_names, ['_change', '_%change']], names=['Variable', 'Type'])
    
    # Convert results to DataFrame
    results_df = pd.DataFrame(rows, index=index_labels, columns=columns)
    
    # Return the DataFrame for this dataset
    return results_df

# Example usage for each dataset
minutes_regression_results = perform_regression_for_dataset(minutes_regression_data, 'Minutes')
presconf_regression_results = perform_regression_for_dataset(presconf_regression_data, 'Press Conference')
speech_regression_results = perform_regression_for_dataset(speech_regression_data, 'Speech')

# Write the results to an Excel file
with pd.ExcelWriter('regression_results.xlsx') as writer:
    minutes_regression_results.to_excel(writer, sheet_name='Minutes Results')
    presconf_regression_results.to_excel(writer, sheet_name='Press Conference Results')
    speech_regression_results.to_excel(writer, sheet_name='Speech Results')

print("Excel file with regression results saved successfully.")

Excel file with regression results saved successfully.

In [18]:
minutes_regression_results

Variable                             GT10                   GT2              \
Type                              _change   _%change    _change    _%change
Minutes constant Coefficients   1.1866***    25.6282  1.3447***     49.9109
Minutes constant Std Errors      (0.4437)  (19.9772)   (0.4575)   (48.4388)
Minutes int_score Coefficients  -3.7425**   -91.1372  -3.9441**   -236.0855
Minutes int_score Std Errors     (1.8557)  (83.5557)   (1.9137)  (202.5984)
Minutes inf_score Coefficients     1.3708    39.3952     1.2647    136.5459
Minutes inf_score Std Errors     (1.5291)  (68.8506)   (1.5769)  (166.9427)
Minutes R²                         0.0738     0.0193     0.0857      0.0159
Minutes Sample Size                   100        100        100         100

Variable                          GTspread                     Gold  \
Type                               _change    _%change      _change
Minutes constant Coefficients     -16.0634   -141.1604    -164.9783
Minutes constant Std Errors      (29.7652)  (113.1398)   (115.1634)
Minutes int_score Coefficients     23.6091    784.8858  1017.4270**
Minutes int_score Std Errors    (124.4947)  (473.2141)   (481.6779)
Minutes inf_score Coefficients      7.6791   -504.1080   -680.4851*
Minutes inf_score Std Errors    (102.5846)  (389.9321)   (396.9063)
Minutes R²                          0.0032      0.0290       0.0450
Minutes Sample Size                    100         100          100

Variable                                         SP500                   VIX  \
Type                             _%change      _change   _%change    _change
Minutes constant Coefficients     -9.1947     196.1680     6.6501    12.6934
Minutes constant Std Errors      (7.2870)   (246.1316)   (7.2217)  (13.0858)
Minutes int_score Coefficients   58.8272*    -989.6168   -31.3374    23.2275
Minutes int_score Std Errors    (30.4785)  (1029.4606)  (30.2051)  (54.7321)
Minutes inf_score Coefficients   -40.0235     611.0504    18.4896   -48.2567
Minutes inf_score Std Errors    (25.1145)   (848.2836)  (24.8892)  (45.0997)
Minutes R²                         0.0376       0.0102     0.0124     0.0243
Minutes Sample Size                   100          100        100        100

Variable
Type                              _%change
Minutes constant Coefficients      62.6661
Minutes constant Std Errors      (62.5438)
Minutes int_score Coefficients    197.7944
Minutes int_score Std Errors    (261.5934)
Minutes inf_score Coefficients   -320.4229
Minutes inf_score Std Errors    (215.5550)
Minutes R²                          0.0364
Minutes Sample Size                    100

In [19]:
presconf_regression_results

Variable                                     GT10                  GT2  \
Type                                      _change   _%change   _change
Press Conference constant Coefficients     0.0471   -28.7118   -0.0623
Press Conference constant Std Errors     (0.5735)  (26.5907)  (0.6268)
Press Conference int_score Coefficients    0.3380    37.5120    0.6333
Press Conference int_score Std Errors    (1.4522)  (67.3296)  (1.5871)
Press Conference inf_score Coefficients   -0.4473    15.1708   -0.5285
Press Conference inf_score Std Errors    (0.9421)  (43.6823)  (1.0297)
Press Conference R²                        0.0032     0.0159    0.0038
Press Conference Sample Size                   75         75        75

Variable                                              GTspread              \
Type                                       _%change    _change    _%change
Press Conference constant Coefficients     -43.4892    10.5851    175.2972
Press Conference constant Std Errors      (60.4946)  (35.5695)  (175.1974)
Press Conference int_score Coefficients     58.0934   -28.0965   -678.2983
Press Conference int_score Std Errors    (153.1765)  (90.0645)  (443.6121)
Press Conference inf_score Coefficients     22.5116     7.4443    317.8305
Press Conference inf_score Std Errors     (99.3782)  (58.4323)  (287.8077)
Press Conference R²                          0.0072     0.0015      0.0318
Press Conference Sample Size                     75         75          75

Variable                                       Gold                  SP500  \
Type                                        _change   _%change     _change
Press Conference constant Coefficients     223.1003    12.4163    288.7497
Press Conference constant Std Errors     (145.4950)   (9.0560)  (328.2567)
Press Conference int_score Coefficients   -209.9727   -10.1495  -1066.3420
Press Conference int_score Std Errors    (368.4034)  (22.9304)  (831.1688)
Press Conference inf_score Coefficients   -193.8811   -12.1743    483.2424
Press Conference inf_score Std Errors    (239.0136)  (14.8768)  (539.2476)
Press Conference R²                          0.0362     0.0307      0.0225
Press Conference Sample Size                     75         75          75

Variable                                                  VIX
Type                                      _%change    _change    _%change
Press Conference constant Coefficients      8.1661     9.1182     27.4190
Press Conference constant Std Errors      (9.2578)  (16.9920)   (78.5722)
Press Conference int_score Coefficients   -23.1025     3.7720    -10.1069
Press Conference int_score Std Errors    (23.4414)  (43.0250)  (198.9503)
Press Conference inf_score Coefficients     7.1881   -20.7799    -44.2216
Press Conference inf_score Std Errors    (15.2084)  (27.9139)  (129.0754)
Press Conference R²                         0.0139     0.0112      0.0034
Press Conference Sample Size                    75         75          75

In [20]:
speech_regression_results

Variable                           GT10                 GT2            \
Type                            _change  _%change   _change  _%change
Speech constant Coefficients     0.0471  2.7434**    0.0185    3.2432
Speech constant Std Errors     (0.0296)  (1.3021)  (0.0266)  (2.2431)
Speech int_score Coefficients    0.1003    3.3872    0.1068   -2.7943
Speech int_score Std Errors    (0.1312)  (5.7661)  (0.1178)  (9.9334)
Speech inf_score Coefficients  -0.1876*  -8.5420*   -0.1384   -3.1111
Speech inf_score Std Errors    (0.1111)  (4.8795)  (0.0997)  (8.4060)
Speech R²                        0.0082    0.0113    0.0037    0.0029
Speech Sample Size                  661       661       661       661

Variable                       GTspread                  Gold            \
Type                            _change   _%change    _change  _%change
Speech constant Coefficients     2.8663    -1.9836  -15.9299*  -0.9909*
Speech constant Std Errors     (2.0543)  (18.4764)   (8.7738)  (0.5214)
Speech int_score Coefficients   -0.6193    72.8294     8.9534    0.2168
Speech int_score Std Errors    (9.0971)  (81.8201)  (38.8535)  (2.3090)
Speech inf_score Coefficients   -4.9525   -67.2295    23.9113    1.7987
Speech inf_score Std Errors    (7.6983)  (69.2394)  (32.8794)  (1.9540)
Speech R²                        0.0036     0.0014     0.0063    0.0072
Speech Sample Size                  661        661        661       661

Variable                           SP500                 VIX
Type                             _change  _%change   _change   _%change
Speech constant Coefficients    -18.1204   -0.1462   -0.2610    -0.2334
Speech constant Std Errors     (17.0206)  (0.4875)  (0.7674)   (3.9700)
Speech int_score Coefficients    30.4518   -0.4319    0.8059     7.8832
Speech int_score Std Errors    (75.3733)  (2.1589)  (3.3982)  (17.5805)
Speech inf_score Coefficients    10.1355    0.8360   -0.3161    -7.2301
Speech inf_score Std Errors    (63.7839)  (1.8270)  (2.8757)  (14.8774)
Speech R²                         0.0022    0.0006    0.0002     0.0004
Speech Sample Size                   661       661       661        661