In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
index_df = pd.read_csv('./data/FOMC_RoBERTa_sentiment_index.csv', parse_dates=['Date'])
index_df = index_df.sort_values('Date')
index_df = index_df[index_df['Number of Sentences']>3]
index_df = index_df.groupby(['File Type','Date'])[['Sentiment Index']].mean()
index_df.reset_index(inplace=True)
index_df

        File Type       Date  Sentiment Index
0    FOMC_Minutes 2012-01-25        -0.135266
1    FOMC_Minutes 2012-03-13        -0.071429
2    FOMC_Minutes 2012-04-25        -0.094737
3    FOMC_Minutes 2012-06-20        -0.375000
4    FOMC_Minutes 2012-08-01        -0.324675
..            ...        ...              ...
625   FOMC_Speech 2024-09-25         0.129870
626   FOMC_Speech 2024-09-26         0.119837
627   FOMC_Speech 2024-09-30         0.333704
628   FOMC_Speech 2024-10-01        -0.068966
629   FOMC_Speech 2024-10-02         0.000000

[630 rows x 3 columns]

In [3]:
minutes_idx = index_df[index_df['File Type']=='FOMC_Minutes']
minutes_idx

        File Type       Date  Sentiment Index
0    FOMC_Minutes 2012-01-25        -0.135266
1    FOMC_Minutes 2012-03-13        -0.071429
2    FOMC_Minutes 2012-04-25        -0.094737
3    FOMC_Minutes 2012-06-20        -0.375000
4    FOMC_Minutes 2012-08-01        -0.324675
..            ...        ...              ...
96   FOMC_Minutes 2024-01-31         0.232759
97   FOMC_Minutes 2024-03-20         0.235294
98   FOMC_Minutes 2024-05-01         0.150442
99   FOMC_Minutes 2024-06-12         0.098214
100  FOMC_Minutes 2024-07-31         0.021739

[101 rows x 3 columns]

In [4]:
presconf_idx = index_df[index_df['File Type']=='FOMC_Presconf']
presconf_idx

         File Type       Date  Sentiment Index
101  FOMC_Presconf 2012-01-25        -0.144068
102  FOMC_Presconf 2012-04-25        -0.148649
103  FOMC_Presconf 2012-06-20        -0.472727
104  FOMC_Presconf 2012-09-13        -0.250000
105  FOMC_Presconf 2012-12-12        -0.230769
..             ...        ...              ...
172  FOMC_Presconf 2024-03-20         0.220183
173  FOMC_Presconf 2024-05-01         0.205298
174  FOMC_Presconf 2024-06-12         0.257353
175  FOMC_Presconf 2024-07-31         0.107843
176  FOMC_Presconf 2024-09-18         0.219298

[76 rows x 3 columns]

In [5]:
speech_idx = index_df[index_df['File Type']=='FOMC_Speech']
speech_idx

       File Type       Date  Sentiment Index
177  FOMC_Speech 2012-01-06        -0.326023
178  FOMC_Speech 2012-01-07        -0.500000
179  FOMC_Speech 2012-01-13        -0.166667
180  FOMC_Speech 2012-01-16        -0.107143
181  FOMC_Speech 2012-02-16        -0.375000
..           ...        ...              ...
625  FOMC_Speech 2024-09-25         0.129870
626  FOMC_Speech 2024-09-26         0.119837
627  FOMC_Speech 2024-09-30         0.333704
628  FOMC_Speech 2024-10-01        -0.068966
629  FOMC_Speech 2024-10-02         0.000000

[453 rows x 3 columns]

# GT10

In [6]:
gt10_df = pd.read_excel("./data/FOMC_Data_2011_2024.xlsx", sheet_name="GT10")
gt10_df = gt10_df.drop(["Change","% Change","YLD_CNV_MID","Change.1","% Change.1"],axis=1)
gt10_df = gt10_df.rename(columns={"PX_MID":"GT10"})
gt10_df["GT10_change"] = gt10_df["GT10"] - gt10_df["GT10"].shift(-1)
gt10_df["GT10_%change"] = (gt10_df["GT10_change"] / gt10_df["GT10"].shift(-1)) * 100
gt10_df

           Date   GT10  GT10_change  GT10_%change
0    2024-10-04  3.968        0.121      3.145308
1    2024-10-03  3.847        0.064      1.691779
2    2024-10-02  3.783        0.051      1.366559
3    2024-10-01  3.732       -0.050     -1.322052
4    2024-09-30  3.782        0.030      0.799574
...         ...    ...          ...           ...
3325 2012-01-05  1.996        0.018      0.910010
3326 2012-01-04  1.978        0.030      1.540041
3327 2012-01-03  1.948        0.071      3.782632
3328 2012-01-02  1.877        0.000      0.000000
3329 2011-12-30  1.877          NaN           NaN

[3330 rows x 4 columns]

# GT2

In [7]:
gt2_df = pd.read_excel("./data/FOMC_Data_2011_2024.xlsx", sheet_name="GT2")
gt2_df = gt2_df.drop(["Change","% Change","YLD_CNV_MID","Change.1","% Change.1"],axis=1)
gt2_df = gt2_df.rename(columns={"PX_MID":"GT2"})
gt2_df["GT2_change"] = gt2_df["GT2"] - gt2_df["GT2"].shift(-1)
gt2_df["GT2_%change"] = (gt2_df["GT2_change"] / gt2_df["GT2"].shift(-1)) * 100
gt2_df

           Date    GT2  GT2_change  GT2_%change
0    2024-10-04  3.924       0.218     5.882353
1    2024-10-03  3.706       0.063     1.729344
2    2024-10-02  3.643       0.037     1.026068
3    2024-10-01  3.606      -0.036    -0.988468
4    2024-09-30  3.642       0.082     2.303371
...         ...    ...         ...          ...
3325 2012-01-05  0.261       0.000     0.000000
3326 2012-01-04  0.261       0.004     1.556420
3327 2012-01-03  0.257       0.016     6.639004
3328 2012-01-02  0.241       0.000     0.000000
3329 2011-12-30  0.241         NaN          NaN

[3330 rows x 4 columns]

# GT spread

In [8]:
gtspread_df = pd.read_excel("./data/FOMC_Data_2011_2024.xlsx", sheet_name="2s10s_Spread")
gtspread_df = gtspread_df.drop(["Change","% Change"],axis=1)
gtspread_df = gtspread_df.rename(columns={"PX_LAST":"GTspread"})
gtspread_df["GTspread_change"] = gtspread_df["GTspread"] - gtspread_df["GTspread"].shift(-1)
gtspread_df["GTspread_%change"] = (gtspread_df["GTspread_change"] / gtspread_df["GTspread"].shift(-1)) * 100
gtspread_df

           Date  GTspread  GTspread_change  GTspread_%change
0    2024-10-04    4.4360          -9.5994        -68.394203
1    2024-10-03   14.0354           0.1012          0.726271
2    2024-10-02   13.9342           1.3223         10.484542
3    2024-10-01   12.6119          -1.3642         -9.760949
4    2024-09-30   13.9761          -5.2502        -27.307386
...         ...       ...              ...               ...
3325 2012-01-05  173.4169           1.7319          1.008766
3326 2012-01-04  171.6850           2.5556          1.511032
3327 2012-01-03  169.1294           5.5301          3.380271
3328 2012-01-02  163.5993           0.0000          0.000000
3329 2011-12-30  163.5993              NaN               NaN

[3330 rows x 4 columns]

# Gold Price

In [9]:
gold_df = pd.read_excel("./data/FOMC_Data_2011_2024.xlsx", sheet_name="Gold_Prices")
gold_df = gold_df.drop(["Change","% Change"],axis=1)
gold_df = gold_df.rename(columns={"PX_LAST":"Gold"})
gold_df["Gold_change"] = gold_df["Gold"] - gold_df["Gold"].shift(-1)
gold_df["Gold_%change"] = (gold_df["Gold_change"] / gold_df["Gold"].shift(-1)) * 100
gold_df

           Date     Gold  Gold_change  Gold_%change
0    2024-10-04  2653.60        -2.29     -0.086223
1    2024-10-03  2655.89        -2.80     -0.105315
2    2024-10-02  2658.69        -4.54     -0.170470
3    2024-10-01  2663.23        28.65      1.087460
4    2024-09-30  2634.58       -23.66     -0.890063
...         ...      ...          ...           ...
3313 2012-01-05  1622.71        10.76      0.667515
3314 2012-01-04  1611.95         8.00      0.498769
3315 2012-01-03  1603.95        37.58      2.399178
3316 2012-01-02  1566.37         1.46      0.093296
3317 2011-12-30  1564.91          NaN           NaN

[3318 rows x 4 columns]

# VIX

In [10]:
VIX_df = pd.read_excel("./data/FOMC_Data_2011_2024.xlsx", sheet_name="VIX")
VIX_df = VIX_df.drop(["Change","% Change"],axis=1)
VIX_df = VIX_df.rename(columns={"PX_LAST":"VIX"})
VIX_df["VIX_change"] = VIX_df["VIX"] - VIX_df["VIX"].shift(-1)
VIX_df["VIX_%change"] = (VIX_df["VIX_change"] / VIX_df["VIX"].shift(-1)) * 100
VIX_df

           Date    VIX  VIX_change  VIX_%change
0    2024-10-04  19.21       -1.28    -6.246950
1    2024-10-03  20.49        1.59     8.412698
2    2024-10-02  18.90       -0.36    -1.869159
3    2024-10-01  19.26        2.53    15.122534
4    2024-09-30  16.73       -0.23    -1.356132
...         ...    ...         ...          ...
3224 2012-01-06  20.63       -0.85    -3.957169
3225 2012-01-05  21.48       -0.74    -3.330333
3226 2012-01-04  22.22       -0.75    -3.265128
3227 2012-01-03  22.97       -0.43    -1.837607
3228 2011-12-30  23.40         NaN          NaN

[3229 rows x 4 columns]

# SP500

In [11]:
SP500_df = pd.read_excel("./data/FOMC_Data_2011_2024.xlsx", sheet_name="SP500")
SP500_df = SP500_df.drop(["Change","% Change"],axis=1)
SP500_df = SP500_df.rename(columns={"PX_LAST":"SP500"})
SP500_df["SP500_change"] = SP500_df["SP500"] - SP500_df["SP500"].shift(-1)
SP500_df["SP500_%change"] = (SP500_df["SP500_change"] / SP500_df["SP500"].shift(-1)) * 100
SP500_df

           Date    SP500  SP500_change  SP500_%change
0    2024-10-04  5751.07         51.13       0.897027
1    2024-10-03  5699.94         -9.60      -0.168140
2    2024-10-02  5709.54          0.79       0.013838
3    2024-10-01  5708.75        -53.73      -0.932411
4    2024-09-30  5762.48         24.31       0.423654
...         ...      ...           ...            ...
3206 2012-01-06  1277.81         -3.25      -0.253696
3207 2012-01-05  1281.06          3.76       0.294371
3208 2012-01-04  1277.30          0.24       0.018793
3209 2012-01-03  1277.06         19.45       1.546584
3210 2011-12-30  1257.61           NaN            NaN

[3211 rows x 4 columns]

# Regression

In [12]:
def format_significance(p_value):
    """Format significance level based on p-value."""
    if p_value < 0.01:
        return "***"
    elif p_value < 0.05:
        return "**"
    elif p_value < 0.1:
        return "*"
    else:
        return ""

In [13]:
# Define a dictionary mapping the name of the index datasets to their corresponding DataFrames
idx_dict = {
    'minutes_idx': minutes_idx,
    'presconf_idx': presconf_idx,
    'speech_idx': speech_idx
}
# Define a list of market datasets
market_lst = [gt10_df, gt2_df, gtspread_df, gold_df, VIX_df, SP500_df]

results_df = pd.DataFrame()
for idx_name, idx_data in idx_dict.items():
    for market_data in market_lst:
        # Merge the market and index data on the 'Date' column
        df = pd.merge(market_data, idx_data, on='Date', how='inner')
        # Filter the columns that end with '_change' or '_%change'
        change_columns = df.filter(regex='_change$|_%change$').columns
        for col in change_columns:
            X = df[['Sentiment Index']]
            X = sm.add_constant(X)
            y = df[col]
            model = sm.OLS(y, X).fit()

            # Extract the coefficient, standard error, and p-value for 'Sentiment Index'
            coeff_idx = model.params['Sentiment Index']
            stderr_idx = model.bse['Sentiment Index']
            p_value_idx  = format_significance(model.pvalues['Sentiment Index'])

            # Extract the coefficient, standard error, and p-value for the constant (intercept)
            coeff_const = model.params['const']
            stderr_const = model.bse['const']
            p_value_const = format_significance(model.pvalues['const'])

            # Calculate the R-squared value for the model
            r2 = model.rsquared

            new_row = pd.DataFrame({
                'Index Data': [idx_name],
                'Variable': col,
                'Constant Coefficient': f"{coeff_const:.4f}{p_value_const}",
                'Constant Std Error': f"({stderr_const:.4f})",
                'Sentiment Index Coefficient': f"{coeff_idx:.4f}{p_value_idx}",
                'Sentiment Index Std Error': f"({stderr_idx:.4f})",
                'R-squared': f"{r2:.4f}"
            })
            results_df = pd.concat([results_df, new_row], ignore_index=True)
results_df
results_df.to_csv('regression_result.csv', index=False)